<article class="task intensity-{{ task.intensity }}" data-id="{{ task._id }}">
	<h2 data-attribute="name">{{ task.name }}</h2>
	<p data-attribute="description">{{ task.description }}</p>
	{% if task.due_date %}
	<time data-attribute="due_date" datetime="{{ task.due_date }}">{{ task.due_date }}</time>
	{% endif %}
	<small>{{ task.origin }}</small>
	
	<p class="actions">
		<a href="#" class="btn btn-mini complete">I’m Done!</a>
		<a href="#" class="btn btn-mini edit">Edit</a>
		<!--<a href="#" class="btn btn-mini btn-link delete">Delete</a>-->
	</p>
</article>