<article class="task intensity-{{ task.intensity }}" data-id="{{ task._id }}">
	<h2>{{ task.name }}</h2>
	<p>{{ task.description }}</p>
	{% if task.due_date %}
	<time datetime="{{ task.due_date }}">{{ task.due_date }}</time>
	{% endif %}
	<small>{{ task.origin }}</small>
	<ul class="actions">
		<li><a href="#" class="btn btn-mini complete">Completed</a></li>
		<li><a href="#" class="btn btn-mini edit">Edit</a></li>
		<li><a href="#" class="btn btn-mini btn-link delete">Delete</a></li>
	</ul>
</article>