{% extends '_layout.html' %}
{% block content %}
<section class="tasks grid">
{% for task in tasks %}
{% include '_task.html' %}
{% endfor %}
<article class="task">
  <p><a href="#task" id="new-task" role="button" class="btn btn-large btn-primary" >New Task</a></p>
  <p class="muted"><small>(l)list view (g)grid view (n)new task</small></p>
</article>
</section>
 
<!-- Modal -->
<div id="task" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <!--<h3 class="form-field" data-attribute="name" contenteditable="true">Task name</h3>-->
    <input class="form-field" data-attribute="name" type="text" placeholder="Task Name" />
  </div>
  <div class="modal-body">
    <textarea class="form-field" data-attribute="description" placeholder="Description" rows="4"></textarea>
    <input class="form-field" data-attribute="due_date" type="text" placeholder="Due Date: 2013-03-01" />
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary submit">Save changes</button>
  </div>
</div>

{% endblock %}